*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
body{
    background-image: radial-gradient(blue, black);
    min-height: 50em;
    width: 100%;
    overflow-x: hidden;
}